<script src="https://cdn.tailwindcss.com"></script>

<section class="bg-white rounded-2xl py-10 px-4 md:px-10 lg:px-16 lg:py-12 w-full md:w-2/5 mt-3 md:mt-0">
            <article class="text-center">
                <p class="text-2xl font-semibold">Código QR</p>
                <img class="h-40 w-40 mx-auto mb-3" id="QR"
                    src="<%= @url_codeImage %>"
                    alt="QR">
                    <a href="<%=@url_codeImage%>" class="bg-appweb-2 text-white font-semibold transform hover:scale-105 duration-300 transition-all hover:bg-blue-800 text-xl py-3 px-12 rounded-xl" download>
                    Exportar QR
                    </a>
            </article>
        </section>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>